button {
    margin: 30px;
}

#pics {
    float: left;
    width: 900px;
    height: 900px;
}

#logs {
    float: left;
}

textarea {
    width: 500px;
    height: 800px;
    padding: 0 0.4rem 0.4rem 0;
}

img {
    margin: 5px;
    width: 200px;
    height: 200px;
}