.container{
    background-color: blue;
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px;
}

.rel{
    position: relative;
    background-color: coral;
    top: -5px;
    left: -5px;
}

.abs{
    position: absolute;
    background-color: crimson;
    bottom: 25px;
    left: 25px;
}

.fix{
    position: fixed;
    background-color: darkcyan;
    top: 0;
    right: 0;
}

.sta{
    position: static;
    background-color: darkgoldenrod;
    top: 20px;
    right: 150px;
}