.box_model
{
    background-color:grey;
    width: 500px;
    height: 300px;
    border: 15px solid green;
    padding: 25px;
    margin: 50px;
}

span
{
    color:blue;
}

span.inline_ex
{
    display: inline;
}

span.block_ex
{
    display:block;
}